.front-page {
	padding-top: 40px;
	color: #777;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);

	.header {
		font-size: 35px;
	}
	.header, .sub-header, .sub-sub-header, {
		color: #666;
	}

	.note {
		width: 300px;
		margin: auto;
		margin-bottom: 30px;
		margin-top: 30px;
	}

}