/* line 1, ../../compass/sass/views/_dash.scss */
.grid {
  max-width: 1200px;
}

/* line 2, ../../compass/sass/components/modal.scss */
.modal-dialog [contenteditable]:focus {
  outline: none;
}
/* line 6, ../../compass/sass/components/modal.scss */
.modal-dialog .modal-content {
  border-radius: 0px;
}
/* line 10, ../../compass/sass/components/modal.scss */
.modal-dialog .modal-content .modal-input-main {
  width: 100%;
}

/* line 42, ../../compass/sass/components/modal.scss */
.color-selector-wrapper div {
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 8px;
}
/* line 51, ../../compass/sass/components/modal.scss */
.color-selector-wrapper a:nth-child(1) div {
  background-color: #ffffff;
}
/* line 55, ../../compass/sass/components/modal.scss */
.color-selector-wrapper a:nth-child(2) div {
  background-color: #fd8b83;
}
/* line 59, ../../compass/sass/components/modal.scss */
.color-selector-wrapper a:nth-child(3) div {
  background-color: #fffe94;
}
/* line 63, ../../compass/sass/components/modal.scss */
.color-selector-wrapper a:nth-child(4) div {
  background-color: #84d8fd;
}
/* line 67, ../../compass/sass/components/modal.scss */
.color-selector-wrapper a:nth-child(5) div {
  background-color: #cdfd95;
}

/* line 1, ../../compass/sass/layout/nav/_nav.scss */
.navbar-fixed-top {
  background-color: #78465a;
  border-bottom: 1px solid gray;
  color: #ffffff;
}
/* line 6, ../../compass/sass/layout/nav/_nav.scss */
.navbar-fixed-top .navbar-text {
  color: #f2f2f2;
}
/* line 10, ../../compass/sass/layout/nav/_nav.scss */
.navbar-fixed-top img {
  max-width: 40px;
}
/* line 14, ../../compass/sass/layout/nav/_nav.scss */
.navbar-fixed-top .navbar-brand {
  font-family: 'Quattrocento', serif;
  font-size: 22px;
  color: #ffffff;
}

/* line 1, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.regi-dropdown {
  min-width: 300px;
  margin: 0;
  padding: 20px;
}
/* line 5, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.regi-dropdown .button-holder {
  padding-top: 10px;
}
/* line 8, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.regi-dropdown .reg-success-wrapper {
  margin: auto;
  text-align: center !important;
  margin-top: 55px;
}
/* line 13, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.regi-dropdown .phone-box {
  width: 221px;
  height: 34px;
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
/* other styles */
/* .svg svg {
    display: none
}
 */
/* line 85, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.inlinesvg .svg svg {
  display: inline;
}

/* .svg img {
    display: none
} */
/* line 93, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

/* line 98, ../../compass/sass/layout/nav/_regi-dropdown.scss */
.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

/* line 1, ../../compass/sass/layout/nav/_login-dropdown.scss */
.login-dropdown {
  min-width: 300px;
  margin: 0;
  padding: 20px;
}
/* line 5, ../../compass/sass/layout/nav/_login-dropdown.scss */
.login-dropdown .button-holder {
  padding-top: 10px;
}
/* line 8, ../../compass/sass/layout/nav/_login-dropdown.scss */
.login-dropdown .new-here {
  text-align: center;
  margin-top: 10px;
}
/* line 11, ../../compass/sass/layout/nav/_login-dropdown.scss */
.login-dropdown .new-here p {
  margin-bottom: 0;
}
/* line 16, ../../compass/sass/layout/nav/_login-dropdown.scss */
.login-dropdown .alert {
  height: 38px;
  padding: 9px;
}

/* line 3, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note {
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.53);
  border: 1px solid #e0e0e0;
  padding: 10px;
  background-color: #ffffff;
}
/* line 12, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note [contenteditable]:focus {
  outline: none;
}
/* line 16, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note .new-note-title:empty:before {
  content: attr(placeholder);
}
/* line 19, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note .new-note-input:empty:before {
  content: attr(placeholder);
}
/* line 22, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note .row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
}
/* line 27, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note button {
  float: right;
}
/* line 30, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .new-note a#tip2 {
  margin-left: 82%;
  margin-bottom: 5px;
}
/* line 34, ../../compass/sass/layout/_note.sass */
.new-note-wrapper .popover.fade.right.in {
  top: 0px;
}

/* line 37, ../../compass/sass/layout/_note.sass */
.note-wrapper {
  padding: 10px;
}
/* line 41, ../../compass/sass/layout/_note.sass */
.note-wrapper .note {
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.53);
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
/* line 56, ../../compass/sass/layout/_note.sass */
.note-wrapper .note .note-title {
  font-size: 18px;
  font-weight: bold;
}

/* line 32, ../../compass/sass/styles.sass */
body {
  font-family: Helvetica;
  background-color: #fafafa;
  margin-top: 80px;
}
