<div class="container dash-container">

	<div class="row">
		<div class="new-note-wrapper col-xs-12">
			<div class="new-note col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
				<div class="row" ng-show="takingNote">
					<h4 contenteditable class="new-note-title" placeholder="Title" ng-model='noteTitle'></h4>
				</div>
				<div class="row">

					<div contenteditable class="new-note-input" placeholder="Take a note..." ng-focus="takingNote = true" ng-model='noteContent'></div>
				</div>
				<div class="row" ng-show="takingNote">
					<button class="btn btn-default btn-sm" ng-click="submitNewNote()" method="POST">Save Note</button>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="grid">

			<div class="note-wrapper grid-item col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="note in notes" ng-click="openModal($event)" note-id='{{note[0]}}'>
				<div class="note">
					<div class="note-toolbar">
					</div>
					
					<div class="note-content">
						{{note[1]}}
					</div>
					<div class="note-input">
						{{note[2]}}
					</div>
				</div>
			</div>

		</div>
	</div> <!-- row -->

	<!-- input modal -->
	<div class="modal fade" id="inputModal" tabindex="-1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 contenteditable class="modal-title" ng-model="{{note[0]}}">Note Id: {{note[0]}}</h4>
				</div>
				<div class="modal-body">
					<p contenteditable="true" ng-model="content">{{note[1]}}</p>
				</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editNote()">Save Note</button>
		      	</div>
			</div>
		</div>
	</div>


</div>